.vs
bin/Debug/app.publish
bin/Debug
obj/Debug
packages/MySql.Data.6.9.12
packages/Spire.Barcode.7.2.0
packages
System.Infrastructure/obj/project.nuget.cache
System.Infrastructure/obj/Debug
System.Infrastructure/bin/Debug
System.Core/obj/project.nuget.cache
System.Core/obj/Debug
System.Core/bin/Debug
System.Utilities/bin/Debug
System.Utilities/obj/Debug
System.Utilities/obj
System.Infrastructure/obj
System.Core/obj
bin/Release
obj/Release
System.Core/bin/Release
System.Infrastructure/bin/Release
System.Utilities/bin/Release
Output
System.CustomUserControl/bin/Debug
System.CustomUserControl/obj/Debug
Wms.Test/bin/Debug/net461
Wms.Test/obj/Debug/net461
Wms.Test/obj/project.nuget*.cache
