<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <log4net>
	  <appender name="ExceptionLogger" type="log4net.Appender.RollingFileAppender">
		  <file value="log.txt" />
		  <appendToFile value="true" />
		  <rollingStyle value="Size" />
		  <maxSizeRollBackups value="10" />
		  <maximumFileSize value="250KB" />
		  <staticLogFileName value="true" />
		  <layout type="log4net.Layout.PatternLayout">
			  <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
		  </layout>
	  </appender>
	  
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="250KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
	  
    <appender name="PayrollAppender" type="log4net.Appender.RollingFileAppender">
      <file value="payroll.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="250KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
	  
    <appender name="TimeEntryAppender" type="log4net.Appender.RollingFileAppender">
      <file value="timeentry.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="250KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>

    <appender name="ShiftScheduleAppender" type="log4net.Appender.RollingFileAppender">
      <file value="shiftsched.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="250KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>

    <appender name="TimeLogsFormAppender" type="log4net.Appender.RollingFileAppender">
      <file value="timelogs.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="250KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>

    <appender name="EmployeeFormAppender" type="log4net.Appender.RollingFileAppender">
      <file value="employee.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="250KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>

    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender" />
    </root>
    <logger name="PayrollLogger">
      <level value="ALL" />
      <appender-ref ref="PayrollAppender" />
    </logger>
    <logger name="TimeEntryLogger">
      <level value="ALL" />
      <appender-ref ref="TimeEntryAppender" />
    </logger>
    <logger name="ShiftScheduleAppender">
      <level value="ALL" />
      <appender-ref ref="ShiftScheduleAppender" />
    </logger>
    <logger name="TimeLogsFormAppender">
      <level value="ALL" />
      <appender-ref ref="TimeLogsFormAppender" />
    </logger>
    <logger name="EmployeeFormAppender">
      <level value="ALL" />
      <appender-ref ref="EmployeeFormAppender" />
    </logger>
  </log4net>
</configuration>